<h1>{{ player_name }}</h1>

<h2>2025 Season</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>Date</th>
        <th>Attempts</th>
        <th>Yards</th>
    </tr>

    {% for game in games_2025 %}
    <tr>
        <td>{{ game.game.date }}</td>
        <td>{{ game.attempts }}</td>
        <td>{{ game.yards }}</td>
    </tr>
    {% endfor %}
</table>


<h2>2024 Season</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>Date</th>
        <th>Attempts</th>
        <th>Yards</th>
    </tr>

    {% for game in games_2024 %}
    <tr>
        <td>{{ game.game.date }}</td>
        <td>{{ game.attempts }}</td>
        <td>{{ game.yards }}</td>
    </tr>
    {% endfor %}
</table>

